<%= render(partial: 'layouts/error_messages', locals: {object: @user}) %>

<%= form_for(@user) do |f| %>

    <div class="field">
        <%= f.label :username %><br>
        <%= f.text_field :username %>
    </div>
    <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
    </div>
    <div class="field">
        <%= f.label :email %><br>
        <%= f.text_field :email %>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>
