<%= render(partial: 'layouts/error_messages', locals: {object: @comparison}) %>

<%= form_for(@comparison) do |f| %>

    <div class="field">
        <%= f.label :barcode_id %><br>
        <%= f.number_field :barcode_id %>
    </div>
    <div class="field">
        <%= f.label :barcode2_id %><br>
        <%= f.number_field :barcode2_id %>
    </div>
    <div class="field">
        <%= f.label :tp_count %><br>
        <%= f.number_field :tp_count %>
    </div>
    <div class="field">
        <%= f.label :fp_count %><br>
        <%= f.number_field :fp_count %>
    </div>
    <div class="field">
        <%= f.label :fn_count %><br>
        <%= f.number_field :fn_count %>
    </div>
    <div class="field">
        <%= f.label :tn_count %><br>
        <%= f.number_field :tn_count %>
    </div>
    <div class="field">
        <%= f.label :ma_threshold1 %><br>
        <%= f.text_field :ma_threshold1 %>
    </div>
    <div class="field">
        <%= f.label :ma_threshold2 %><br>
        <%= f.text_field :ma_threshold2 %>
    </div>
    <div class="field">
        <%= f.label :rmne %><br>
        <%= f.text_field :rmne %>
    </div>
    <div class="field">
        <%= f.label :likelihood_ratio %><br>
        <%= f.text_field :likelihood_ratio %>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>
