<h1>Relationships</h1>

<table class="display dataTable" cellspacing="0" width="100%">

    <thead>
    <tr>
        <th>Family</th>
        <th>Person</th>
        <th>Person2</th>
        <th>Relation</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <% @relationships.each do |relationship| %>
        <tr>
            <td><%= @families_hash[relationship.family_id].source if relationship.family_id%></td>
            <td><%= @people_hash[relationship.person_id].nil? ? "XXX#{relationship.person_id}" : @people_hash[relationship.person_id].id_code %></td>
            <td><%= @people_hash[relationship.person2_id].nil? ? "XXX#{relationship.person2_id}" : @people_hash[relationship.person2_id].id_code %></td>
            <td><%= relationship.relation %></td>
            <td><%= link_to 'Show', relationship %></td>
            <td><%= link_to 'Edit', edit_relationship_path(relationship) %></td>
            <td><%= link_to 'Destroy', relationship, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
    <% end %>
    </tbody>
</table>

<br>

<%= link_to 'New Relationship', new_relationship_path %>
