<h1>SNPs</h1>

<table class="display dataTable" cellspacing="0" width="100%">


  <thead>
    <tr>
      <th>Experiment</th>
      <th>Primer</th>
      <th>Locus</th>
      <th>Sample</th>
      <th>SNP IUB</th>
      <th>Allele base</th>
      <th>Count</th>
      <th>Forward qual</th>
      <th>Reverse qual</th>
      <th>Is minor</th>
      <th>Flank5</th>
      <th>Flank3</th>
    </tr>
  </thead>

  <tbody>
    <% @snps.each do |snp| %>
      <tr>
        <td><%= @experiments_hash[allele.experiment_id].name if allele.experiment_id %></td>
        <td><%= @primers_hash[snp.primer_id].name if snp.primer_id %></td>
        <td><%= @locu_hash[allele.locus_id].name if allele.locus_id %></td>
        <td><%= snp.sample %></td>
        <td><%= @loci_hash[allele.locus_id].snp_iub if allele.locus_id %></td>
        <td><%= snp.allele_base %></td>
        <td><%= snp.count %></td>
        <td><%= snp.forward_qual %></td>
        <td><%= snp.reverse_qual %></td>
        <td><%= snp.is_minor %></td>
        <td><%= snp.flank5 %></td>
        <td><%= snp.flank3 %></td>
      </tr>
    <% end %>
  </tbody>
</table>