<h1>All Ethnicities</h1>

<div id="container" style="position: relative; width: 1500px; height: 900px;"></div>

<%= javascript_tag do %>
    var map = new Datamap({
    element: document.getElementById('container'),
    projection: 'mercator',
    fills: {'defaultFill': 'silver', '1': 'blue'}
    });

    map.bubbles(<%= raw(@all_ethnicities) %>,
    {
    popupTemplate: function(geo, data) {
    return '<div class="hoverinfo">' + data.ethnicity + '<br>Latitude: ' + data.latitude + '<br>Longitude: ' + data.longitude + '</div>'
    }
    });
<% end %>

<%# no need to expose the default behavior to the end user, the map view is sufficient to display all the ethnicities %>
<% if false %>
<table class="display dataTable" cellspacing="0" width="100%">


    <thead>
    <tr>
        <th>Name</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <% @ethnicities.each do |ethnicity| %>
        <tr>
            <td><%= ethnicity.name %></td>
            <td><%= link_to 'Show', ethnicity %></td>
            <td><%= link_to 'Edit', edit_ethnicity_path(ethnicity) %></td>
            <td><%= link_to 'Destroy', ethnicity, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
    <% end %>
    </tbody>
</table>

<br>

<%= link_to 'New Ethnicity', new_ethnicity_path %>
<% end %>