<%= render(partial: 'layouts/error_messages', locals: {object: @sample}) %>

<%= form_for(@sample) do |f| %>

  <div class="field">
    <%= f.label :experiment_id %><br>
    <%= f.text_field :experiment_id %>
  </div>
  <div class="field">
    <%= f.label :barcode_id %><br>
    <%= f.text_field :barcode_id %>
  </div>
  <div class="field">
    <%= f.label :is_good %><br>
    <%= f.check_box :is_good %>
  </div>
  <div class="field">
    <%= f.label :is_mixture %><br>
    <%= f.check_box :is_mixture %>
  </div>
  <div class="field">
    <%= f.label :minor_alleles_called %><br>
    <%= f.number_field :minor_alleles_called %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
