<% if @attachment.user %>
<p>
    <strong>User:</strong>
    <%= @attachment.user.name %>
</p>
<% end %>

<p>
    <strong>Folder:</strong>
    <%= @attachment.folder.name if @attachment.folder %>
</p>

<p>
    <strong>File name:</strong>
    <%= @attachment.file_name %>
</p>

<p>
    <strong>Description:</strong>
    <%= simple_format(word_wrap(@attachment.description)) %>
</p>

<p>
    <strong>File type:</strong>
    <%= @attachment.file_type %>
</p>

<p>
    <strong>Updated at:</strong>
    <%= local_time(@attachment.updated_at, format: "%Y-%m-%d %l:%M%P") %>
</p>

<%= link_to 'Edit', edit_attachment_path(@attachment) %> |
<%= link_to 'Back', attachments_path %>
