<h1>Ancestries</h1>

<table class="display dataTable" cellspacing="0" width="100%">


    <thead>
    <tr>
        <th>Person</th>
        <th>Ethnicity</th>
        <th>Percent</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <% @ancestries.each do |ancestry| %>
        <tr>
            <td><%= ancestry.person %></td>
            <td><%= ancestry.ethnicity %></td>
            <td><%= ancestry.percent %></td>
            <td><%= link_to 'Show', ancestry %></td>
            <td><%= link_to 'Edit', edit_ancestry_path(ancestry) %></td>
            <td><%= link_to 'Destroy', ancestry, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
    <% end %>
    </tbody>
</table>

<br>

<%= link_to 'New Ancestry', new_ancestry_path %>
