<h1>Families</h1>

<table class="display dataTable" cellspacing="0" width="100%">

    <thead>
    <tr>
        <th>Name</th>
        <th>Source</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <% @families.each do |family| %>
        <tr>
            <td><%= family.name %></td>
            <td><%= family.source %></td>
            <td><%= link_to 'Show', family %></td>
            <td><%= link_to 'Edit', edit_family_path(family) %></td>
            <td><%= link_to 'Destroy', family, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
    <% end %>
    </tbody>
</table>

<br>

<%= link_to 'New Family', new_family_path %>
