<p>
    <strong>Locus:</strong>
    <%= @allele_reference.locus_id %>
</p>

<p>
    <strong>Allele name:</strong>
    <%= @allele_reference.allele_name %>
</p>

<p>
    <strong>Allele sequence:</strong>
    <%= @allele_reference.allele_sequence %>
</p>

<p>
    <strong>Regular expression:</strong>
    <%= @allele_reference.regular_expression %>
</p>

<%= link_to 'Edit', edit_allele_reference_path(@allele_reference) %> |
<%= link_to 'Back', allele_references_path %>
