<h1>Locus Attributes</h1>

<table class="display dataTable" cellspacing="0" width="100%">

    <thead>
    <tr>
        <th>Locus</th>
        <th>Attribute name</th>
        <th>Attribute choice</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <% @locus_attributes.each do |locus_attribute| %>
        <tr>
            <td><%= locus_attribute.locus_id %></td>
            <td><%= locus_attribute.attribute_name %></td>
            <td><%= locus_attribute.attribute_choice %></td>
            <td><%= link_to 'Show', locus_attribute %></td>
            <td><%= link_to 'Edit', edit_locus_attribute_path(locus_attribute) %></td>
            <td><%= link_to 'Destroy', locus_attribute, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
    <% end %>
    </tbody>
</table>

<br>

<%= link_to 'New Locus attribute', new_locus_attribute_path %>
