<%= render(partial: 'layouts/error_messages', locals: {object: @instrument}) %>

<%= form_for(@instrument) do |f| %>

    <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>
