<h2>Barcodes
    <%= " for #{Panel.find(params[:panel_id]).description}" if params[:panel_id] && Panel.exists?(params[:panel_id]) %>
</h2>

<table class="display dataTable" cellspacing="0" width="100%">

    <thead>
    <tr>
        <th>Panel</th>
        <th>Name</th>
        <th>Sequence</th>
        <th>Type</th>
    </tr>
    </thead>

    <tbody>
    <% @barcodes.each do |barcode| %>
        <tr>
            <td><%= @panels_hash[barcode.panel_id].name if !barcode.panel_id.nil? && !@panels_hash[barcode.panel_id].nil? %></td>
            <td><%= barcode.name %></td>
            <td><%= barcode.barcode_seq %></td>
            <td><%= barcode.barcode_type %></td>
        </tr>
    <% end %>
    </tbody>
</table>

<br>