<%= render(partial: 'layouts/error_messages', locals: {object: @call}) %>

<%= form_for(@call) do |f| %>

  <div class="field">
    <%= f.label :experiment_id %><br>
    <%= f.text_field :experiment_id %>
  </div>
  <div class="field">
    <%= f.label :locus_id %><br>
    <%= f.text_field :locus_id %>
  </div>
  <div class="field">
    <%= f.label :sample_id %><br>
    <%= f.text_field :sample_id %>
  </div>
  <div class="field">
    <%= f.label :minor_allele_frequency %><br>
    <%= f.text_field :minor_allele_frequency %>
  </div>
  <div class="field">
    <%= f.label :total_count %><br>
    <%= f.number_field :total_count %>
  </div>
  <div class="field">
    <%= f.label :forward_count %><br>
    <%= f.number_field :forward_count %>
  </div>
  <div class="field">
    <%= f.label :is_good_thresh_fifty %><br>
    <%= f.check_box :is_good_thresh_fifty %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
