<p id="notice"><%= notice %></p>

<p>
  <strong>Experiment:</strong>
  <%= @call.experiment %>
</p>

<p>
  <strong>Locus:</strong>
  <%= @call.locus %>
</p>

<p>
  <strong>Sample:</strong>
  <%= @call.sample %>
</p>

<p>
  <strong>Minor allele frequency:</strong>
  <%= @call.minor_allele_frequency %>
</p>

<p>
  <strong>Total count:</strong>
  <%= @call.total_count %>
</p>

<p>
  <strong>Forward count:</strong>
  <%= @call.forward_count %>
</p>

<p>
  <strong>Is good thresh fifty:</strong>
  <%= @call.is_good_thresh_fifty %>
</p>

<%= link_to 'Edit', edit_call_path(@call) %> |
<%= link_to 'Back', calls_path %>
