<%= render(partial: 'layouts/error_messages', locals: {object: @point}) %>

<%= form_for(@point) do |f| %>

    <div class="field">
        <%= f.label :points_id %><br>
        <%= f.number_field :points_id %>
    </div>
    <div class="field">
        <%= f.label :image_id %><br>
        <%= f.number_field :image_id %>
    </div>
    <div class="field">
        <%= f.label :type_of_point %><br>
        <%= f.text_field :type_of_point %>
    </div>
    <div class="field">
        <%= f.label :qual %><br>
        <%= f.text_field :qual %>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>
