<p>
    <strong>Person:</strong>
    <%= @person_value.person_id %>
</p>

<p>
    <strong>Attribute:</strong>
    <%= @person_value.attribute_id %>
</p>

<p>
    <strong>Choice:</strong>
    <%= @person_value.choice_id %>
</p>

<p>
    <strong>Attribute type:</strong>
    <%= @person_value.attribute_type %>
</p>

<p>
    <strong>Attribute int:</strong>
    <%= @person_value.attribute_int %>
</p>

<p>
    <strong>Attribute float:</strong>
    <%= @person_value.attribute_float %>
</p>

<p>
    <strong>Attribute string:</strong>
    <%= @person_value.attribute_string %>
</p>

<p>
    <strong>Attribute bool:</strong>
    <%= @person_value.attribute_bool %>
</p>

<p>
    <strong>Source:</strong>
    <%= @person_value.source %>
</p>

<p>
    <strong>Is truth:</strong>
    <%= @person_value.is_truth %>
</p>

<%= link_to 'Edit', edit_person_value_path(@person_value) %> |
<%= link_to 'Back', person_values_path %>
