<%= render(partial: 'layouts/error_messages', locals: {object: @kinship}) %>

<%= form_for(@kinship) do |f| %>

    <div class="field">
        <%= f.label :relationship_id %><br>
        <%= f.number_field :relationship_id %>
    </div>
    <div class="field">
        <%= f.label :common_minor_alleles %><br>
        <%= f.number_field :common_minor_alleles %>
    </div>
    <div class="field">
        <%= f.label :total_minor_alleles %><br>
        <%= f.number_field :total_minor_alleles %>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>
